<% if @is_error %>
    <br/>
    <%= @error_content %>
<% else %>

    <%= javascript_tag do %>
        window.url_name = "<%= @url_name %>";
    <% end %>



    <h1>url is get.</h1>
    <h3><%= @url_name %></h3>
    <a href="<%= @url_value %>"><%= @url_value %> </a>
    <div style="position: relative;float:right">
      <input id="reSelect" type="button" style="height:100px;width:150px;font-size: 20px" value="重新开始选取"/>
    </div>

    <div id="scraped_data">
      <table class="gridtable">
        <thead>
        <tr>
          <th>
            序号
          </th>
          <th>
            name
          </th>
          <th>
            value
          </th>
          <th>
            xpath
          </th>
          <th>
            操作
          </th>
        </tr>
        </thead>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
      </table>
    </div>
    <input id="scraped_data_submit" type="button" value="保存为抓取规则"/>

    <div id="modified_page">
      <%= @modified_page.html_safe %>
    </div>





<% end %>


