<% if @is_error %>
    <br/>
    <%= @error_content %>
<% else %>

    <%= javascript_tag do %>
        window.ym.url_value = "<%= @url_value %>";
        window.ym.modified_page = '<%= j @modified_page.html_safe %>'
    <% end %>
    <div class="fancy">

      <div id="reSelectDiv" style="position: fixed;bottom:0; right: 0;z-index: 4">
        <input id="reSelect" type="button" style="height:100px;width:150px;font-size: 20px" value="重新开始选取"/>
      </div>
      <div>
        <a href="<%= @url_value%>" ><%= @url_value %></a><br/>
        <span><h3>抓取的数据项列表</h3></span>


        <div id="scraped_data">
          <table class="gridtable">
            <thead>
            <tr>
              <th>
                序号
              </th>
              <th>
                name
              </th>
              <th>
                value
              </th>
              <th>
                xpath
              </th>
              <th>
                操作
              </th>
            </tr>
            </thead>
            <tr>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
          </table>
        </div>
        <input id="scraped_data_submit" type="button" value="保存为抓取规则"/>
      </div>
    </div>

    <iframe id="modified_page" class="iframe_class">
    </iframe>

    <!-- 右侧窗口 -->
    <div id="side_pane_view" class="side_pane">

    </div>

<% end %>

